/**
 *  Fonts
 */

$font-family-base: Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.2;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

p,
a,
ul,
ol,
li {
}
